* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%; // base browser font size 16px, 16*.625 = 10px
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: $base-font-size; //1.4rem, 14px;
}

h1 {
  font-weight: 300;
  margin-bottom: $space;

  font-size: 2.4rem;
}

h2 {

  font-size: $large-font-size;
  margin-bottom: $space;

  font-size: 2.4rem;
}

p {
  margin-bottom: $space;
}

a {
  color: black;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: 1px solid $input-border;
  font-size: $base-font-size;
  margin-bottom: $space;
  padding: $input-spacing;
}
